/*********************************** CABECERA ********************************* */

header {
    margin: 50px auto;
    background-color: #2F4F4F;
    opacity: 0.95;

    position: sticky;
    top: 0;
    z-index: 2;
}

#logo {
    width: 170px;
    margin: 20px;
}

.fechaCont {
    color: white;
}

#fecha {
    font-size: 25px;
}

.hamIcon {
    width: 50px;
    height: 50px;

    cursor: pointer;

    transition: opacity 1s ease;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu>li,
.menu>li::after {
    padding: 20px 30px;
    font-size: 15px;
    background: linear-gradient(45deg, transparent 5%, #011520 5%);
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #FD7B33;
    outline: transparent;
    position: relative;
    margin: 5px 10px;
    list-style: none;
    cursor: pointer;
}

.menu>li::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "HOVER ME";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

.menu>li:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}


@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}




/* **********************  ANIMACIONES CABECERA ******************* */

.trackingA{
    animation: conceptos 400ms linear;
}

@keyframes conceptos{
    0%{
        translate: 600px 0;
    }

    25%{
        translate: -50px 0;
    }

    50%{
        translate: 0px 0;
    }

    75%{
        translate: -25px 0;
    }

    100%{
        translate: 0px 0;
    }
}

.trackingB{
    animation: desarrollo 450ms linear;
}

@keyframes desarrollo{
    0%{
        translate: 400px 0;
    }

    25%{
        translate: -50px 0;
    }

    50%{
        translate: 0px 0;
    }

    75%{
        translate: -25px 0;
    }

    100%{
        translate: 0px 0;
    }
}

.trackingC{
    animation: utilidad 500ms ease;
}

@keyframes utilidad{
    0%{
        translate: 200px 0;
    }

    25%{
        translate: -50px 0;
    }

    50%{
        translate: 0px 0;
    }

    75%{
        translate: -25px 0;
    }

    100%{
        translate: 0px 0;
    }
}

.li1{
    animation: sesion 550ms ease;
}

@keyframes sesion{
    0%{
        translate: -50px 0;
    }

    25%{
        translate: -50px 0;
    }

    50%{
        translate: 0px 0;
    }

    75%{
        translate: -25px 0;
    }

    100%{
        translate: 0px 0;
    }
}